<app-edit-lift-status></app-edit-lift-status>

<div class="row my-5">
  <div class="col-md-4">
    <h2>Closed</h2>
    <ng-container *ngFor="let lift of closedLifts">
      <div class="card m-2">
        <div class="card-body">
          <h4>Name: {{lift.name}}</h4>
          <p>Capacity: {{lift.capacity}}</p>
          <p>Status: {{lift.status}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-4">
    <h2>Open</h2>
    <ng-container *ngFor="let lift of openLifts">
      <div class="card m-2">
        <div class="card-body">
          <h4>Name: {{lift.name}}</h4>
          <p>Capacity: {{lift.capacity}}</p>
          <p>Status: {{lift.status}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-4">
    <h2>Hold</h2>
    <ng-container *ngFor="let lift of holdLifts">
      <div class="card m-2">
        <div class="card-body">
          <h4>Name: {{lift.name}}</h4>
          <p>Capacity: {{lift.capacity}}</p>
          <p>Status: {{lift.status}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>