
<h2>Edit Lift Status</h2>
<div class="row">
  <div class="col md-6">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="liftStatusForm" (ngSubmit)="handleForm()">
          <div class="form-group">
            <label for="liftID">Select Lift</label>
            <select 
              [formControl]="liftStatusForm.get('id')"
              class="form-control" id="liftID">
              <label for="exampleFormControlSelect2">Select a Lift</label>
              <option 
                *ngFor="let name of keys(idNames)" [value]="name">
                {{idNames[name]}}
              </option>
            </select>
            <ng-container *ngIf="false">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </ng-container>

          </div>
          <div class="form-group">
            <label for="liftStatus">Lift Status</label>
            <select 
              [formControl]="statusInput"
              [ngClass]="{ 'is-danger': statusInput.errors  && statusInput.dirty && statusInput.touched}"
              class="form-control" id="liftStatus">
              <option [defaultSelected]=true [value]="" >{{'default'}}</option>
              <option 
                *ngFor="let st of keys(status)" [value]="st">
                {{status[st]}}
              </option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Update
          </button>
          <div>
            <pre>{{liftStatusForm.getError('status') | json}}</pre>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


