<p>makes-list works!</p>
<div class="row my-5">
  <div class="col-md-6 md-shift-4">
    <h2>Open</h2>
    <ng-container *ngFor="let make of makes">
      <div class="card m-2">
        <div class="card-body">
          <h4>Name: {{make.name}}</h4>
        </div>
      </div>
    </ng-container>
  </div>
</div>