<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" 
    routerLink="/" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}">Apollo Angular GraphQL Client</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a 
          class="nav-link" 
          routerLink="/" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Lifts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link" 
          routerLink="/trails" 
          routerLinkActive="active">Trails</a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link" 
          routerLink="/makes" 
          routerLinkActive="active">Makes</a>
      </li>
    </ul>
  </div>
</nav>
