<h2>Trails Updated by subscriptions</h2>
<div class="row my-5">
  <div class="col-md-6">
    <h2>Closed</h2>
    <ng-container *ngFor="let trail of closedTrails">
      <div class="card m-2">
        <div class="card-body">
          <h4>Name: {{trail.name}}</h4>
          <p>Dificulty: {{trail.difficulty}}</p>
          <p>Status: {{trail.status}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-6">
    <h2>Open</h2>
    <ng-container *ngFor="let trail of openTrails">
      <div class="card m-2">
        <div class="card-body">
          <h4>Name: {{trail.name}}</h4>
          <p>Dificulty: {{trail.difficulty}}</p>
          <p>Status: {{trail.status}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>


